@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в суши-бар ＼(٥⁀▽⁀ )／</h1>
    <p>Наша задача - накормить вас от души!!!</a>.</p>
</div>
